.place-mngm-container {
    padding-top: 40px;
    min-height: 100vh;
  }
  
  .place-mngm-heading {
    margin-bottom: 1.5rem;
  }
  
  .place-mngm-form {
    margin-bottom: 2rem;
  }
  
  .place-mngm-form input {
    margin-right: 0.5rem;
  }
  
  .place-mngm-form button {
    margin-right: 0.5rem;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .table .btn {
    margin: 0 0.5rem;
  }
  
  .pa-edit{
    width: 30% !important;
  }