.buy-premium-page {
    padding: 40px 20px;
    text-align: center;
    height: 100vh;
    padding-top: 10%;
}

.buy-premium-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #112f11; 
}

.buy-premium-page .container {
    max-width: 600px; 
    margin: 0 auto; 
}

.payment-form {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-element {
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .buy-premium-page h2 {
        font-size: 1.5rem; 
    }

    .payment-form {
        padding: 20px; 
    }
}
