.mp-footer {
    margin-top: 60px;
    background-color: #001d38;
    color: #fff;
    padding: 40px 20px 10px;
    font-family: 'Raleway', sans-serif;
  }
  
  .mp-footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .mp-footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .mp-footer-section h3 {
    border-bottom: 2px solid #fff;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  
  .mp-footer-section p, .mp-footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
  }
  
  .mp-footer-section ul {
    padding-left: 0;
  }
  
  .mp-footer-section ul li {
    margin-bottom: 10px;
  }
  
  .mp-footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .mp-footer-section ul li a:hover {
    color: #f5a623;
  }
  
  .mp-social-icons {
    display: flex;
    gap: 10px;
  }
  
  .mp-social-icons a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .mp-social-icons a:hover {
    color: #f5a623;
  }
  
  .mp-footer-bottom {
    text-align: center;
    padding: 20px 0px 0px;
    border-top: 1px solid #333;
  }
  
  .mp-footer-bottom p {
    margin: 0;
  }

  
  